<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hello, World from Flask!</h1>
    <p>Welcome to the home page!</p>
    <h2>Images from Python File:</h2>
    <div>
      {% for image_url in books %}
      <div>
        <img
          src="{{ image_url }}"
          alt="Image {{ loop.index }}"
          style="max-width: 300px; max-height: 300px"
        />
      </div>
      {% endfor %}
    </div>
  </body>
</html>
